<!-- <img
  src="../assets//construction.jpg"
  alt="Under construction"
  class="center"
/> -->

<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    mode="over"
    [(opened)]="opened"
    (opened)="events.push('open!')"
    (closed)="events.push('close!')"
  >
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>Parin Gandhi</mat-card-title>
        <mat-card-subtitle>parin.a.gandhi@gmail.com</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <mat-nav-list>
          <mat-list-item>
            <button mat-icon-button>
              <mat-icon>tv</mat-icon>
            </button>
            <a matLine href="...">Video Games</a>
          </mat-list-item>
          <mat-list-item>
            <button mat-icon-button>
              <mat-icon>photo_camera</mat-icon>
            </button>
            <a matLine href="...">Photography</a>
          </mat-list-item>
          <mat-list-item>
            <button mat-icon-button>
              <mat-icon>cabin</mat-icon>
            </button>
            <a matLine href="...">Woodworking</a>
          </mat-list-item>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button
        mat-icon-button
        color="accent"
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Parin Gandhi</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- <button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button>
    </p>
    <p>Events:</p>
    <div class="example-events">
      <div *ngFor="let e of events">{{ e }}</div>
    </div> -->
  </mat-sidenav-content>
</mat-sidenav-container>
